*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111111;
	font-family: SF PRO Text;
	user-select: none;
	font-size: xxx-large;
}
body{
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}